/* google  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* Header menu css start */
header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.nav-title {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    color: #424242;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;

}

a:hover {
    background-color: #125879;
    color: aliceblue;
}


@media screen and (max-width: 768px) {

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        float: none;
    }

    li {
        float: none;
    }

    a {
        display: block;
        text-align: left;
    }
}

/* Header menu css end */

/* header-info */
.header-info {

    text-align: center;

}

.header-info h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #131313;
}

.header-info p {
    width: 868px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0px auto;
    color: #727272;
    margin-bottom: 23px;
}

.btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: 0px;
}

.btn:hover {
    background: #ffd30e;

}

.btn-link {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

}

@media screen and (max-width: 768px) {
    .header-info h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        text-align: center;
        color: #131313;
    }

    .header-info p {
        width: 80%;
        height: 52px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin: 0px auto;
        color: #727272;
        margin-bottom: 60px;
    }
}

/* header-info */

/* bannar section */

.bannar img {
    width: 80%;
    display: block;
    padding: 45px 0;
    margin-left: auto;
    margin-right: auto;

}

/* bannar section */
/* main section  */
main {

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;

}

.frist-features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.features-img {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.features-info {
    margin-left: 30px;
}

.features-info h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.features-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 23px 0px;
    color: #727272;
}

.second-features {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
    margin-top: 80px;
    gap: 50px;
}

.second-features-info h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
    border-left: 4px solid rgb(241, 200, 14);
    padding-left: 5px;
}

.second-features-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.card {
    padding: 2px 8px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.card h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.second-features-img {
    position: relative;
}

.btn-2 {
    width: 200px;
    height: 100px;
    background: #FF900E;
    border-radius: 8px;
    position: absolute;
    bottom: -20px;
    left: -20px;
    line-height: 2px;
    border: 0px;
}

.btn-2 p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.btn-2 small {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
}


.second-features-img img {
    height: 800px;
}



@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

    }

    .frist-features {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .features-img {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px;

    }

    .features-info h2 {
        font-size: 35px;
    }

    /* second-features */
    .second-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .second-features-info h2 {
        font-size: 35px;
    }


    .second-features-img img {
        width: 100%;
    }


}

/* facts section */

.facts h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
    margin-top: 100px;
}

.facts p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 80px;
}

.fact-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 0px 50px;
}

.fact-card {
    width: 241.83px;
    height: 200px;
    border-radius: 8px;
    line-height: 5px;
    text-align: center;
    padding-top: 50px;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.fact-card:hover{
    box-shadow: inset 0 0 0 25px #aad0f0;
}

.fact-card h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #424242;

}

.fact-card p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #727272;

}


@media screen and (max-width: 768px) {
    .fact-info {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px;
        text-align: center;
    }

    .fact-card {
        margin-left: auto;
        margin-right: auto;
    }
}

/* facts section */

/* Sponspors section */
.Sponspors {
    text-align: center;
    margin-top: 150px;
}

.Sponspors h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
    margin-top: 70px;
}

.Sponspors p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
}

.logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.logo-img img {
    width: 140px;
    height: 40px;
}

@media screen and (max-width: 768px) {
    .logo {
        display: grid;
        grid-template-columns: auto;

    }

    .logo-img img {
        width: 140px;
        height: 40px;
        margin-bottom: 30px;
    }
}

/* Sponspors section */

/* contract-card */

.contract h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 44px;
    margin-top: 150px;
    text-align: center;
}

.contract-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 0px 50px;
}
.contract-single-card{
   
    border-radius: 8px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    line-height: 100%;
    background-color: #67c3ee6b;
    opacity:0.7;
}
.contract-single-card:hover{
    background:#53a7ea;
    opacity:1;
   
}

.contract-single-card h1{
    font-size: 70px;
    color: rgba(209, 11, 166, 0.685);
}
.contract-single-card h3{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: rgb(25, 10, 240);
  
}

.contract-single-card h3:hover{
    color: black;
}

.contract-single-card p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
}

.contract-from{
background-color: rgba(127, 255, 212, 0.63);
width: 700px;
padding: 30px 30px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}

form {
	max-width: 500px;
	margin: 0 auto;
}

label {
	display: block;
	margin-top: 10px;
}

input,
textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

button[type="submit"] {
    width: 180px;
    height: 54px;
    background: #ff8f0ef6;
    border-radius: 8px;
    border: 0px;
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 25px;
    font-weight: 500;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;

}

button[type="submit"]:hover {
	background-color: #f05c06;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
}


@media screen and (max-width: 768px) {
    .contract-card{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px;
        padding: 0px 50px;
    }
    .contract-from{
        background-color: rgba(127, 255, 212, 0.63);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        }
        
}

/* main section  */
/* footer */
footer {
    background: #FFF4E7;
    color: rgb(109, 103, 103);
    padding: 20px;
    font-size: 14px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }
  
  @media screen and (max-width: 767px) {
    .container {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  

/* footer */