/* google  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/* Header menu css start */
header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.nav-title {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    color: #424242;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;

}

a:hover {
    background-color: #111;
    color: aliceblue;
}


@media screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        float: none;
    }

    li {
        float: none;
    }

    a {
        display: block;
        text-align: left;
    }
}

/* Header menu css end */

/* header-info */
.header-info {

    text-align: center;

}

.header-info h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #131313;
}

.header-info p {
    width: 868px;
    height: 52px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0px auto;
    color: #727272;
    margin-bottom: 23px;
}

.btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: 0px;
}

.btn:hover {
    background: #ffd30e;

}

.btn-link {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

}

@media screen and (max-width: 768px) {
    .header-info h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        text-align: center;
        color: #131313;
    }

    .header-info p {
        width: 80%;
        height: 52px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin: 0px auto;
        color: #727272;
        margin-bottom: 60px;
    }
}

/* header-info */

/* bannar section */

.bannar img {
    width: 80%;
    display: block;
    padding: 45px 0;
    margin-left: auto;
    margin-right: auto;

}

/* bannar section */
/* main section  */
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.features-img {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.features-info {
    margin-left: 30px;
}

.features-info h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.features-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 23px 0px;
    color: #727272;
}

@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

    }

    .features-img {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;

    }

    .features-info h2 {
        font-size: 35px;
    }

    .features-info {
        text-align: center;
    }

}

/* main section  */